<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("European-Immigration", "Index", "GeneralDatas", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Countries", "Index", "Countries")</li>
                        }
                    }
                    <li>@Html.ActionLink("General Data", "Index", "GeneralDatas")</li>
                    <li>@Html.ActionLink("Quality Of Life", "Index", "QualityOfLives")</li>
                    <li>@Html.ActionLink("Taxes", "Index", "Taxes")</li>
                    <li>@Html.ActionLink("Politics And Economics", "Index", "PoliticsAndEconomics")</li>
                    <li>@Html.ActionLink("Healthcare and Science", "Index", "HealthcareAndSciences")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
