@model European_Immigration.ViewModels.PoliticsAndEconomicsFormViewModel

@{
    ViewBag.Title = "Politics And Economics Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add politics and economics data for a country</h2>

@using (Html.BeginForm("Save", "PoliticsAndEconomics"))
{
    @Html.ValidationSummary(true, "Please fix the following errors!")
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.PoliticsAndEconomics.CountryName, "CountryName", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.PoliticsAndEconomics.CountryName, new SelectList(Model.Countries, "CountryName", "CountryName"), "Select a country", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PoliticsAndEconomics.CountryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PoliticsAndEconomics.Flag, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PoliticsAndEconomics.Flag, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PoliticsAndEconomics.Flag, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PoliticsAndEconomics.RuleOfLawIndex, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PoliticsAndEconomics.RuleOfLawIndex, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PoliticsAndEconomics.RuleOfLawIndex, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PoliticsAndEconomics.PoliticalStabilityIndex, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PoliticsAndEconomics.PoliticalStabilityIndex, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PoliticsAndEconomics.PoliticalStabilityIndex, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PoliticsAndEconomics.CorruptionIndex, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PoliticsAndEconomics.CorruptionIndex, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PoliticsAndEconomics.CorruptionIndex, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PoliticsAndEconomics.StateFragilityIndex, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PoliticsAndEconomics.StateFragilityIndex, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PoliticsAndEconomics.StateFragilityIndex, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PoliticsAndEconomics.EconomicGrowth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PoliticsAndEconomics.EconomicGrowth, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PoliticsAndEconomics.EconomicGrowth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PoliticsAndEconomics.GdpPerCapita, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PoliticsAndEconomics.GdpPerCapita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PoliticsAndEconomics.GdpPerCapita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
