@model IEnumerable<European_Immigration.Models.Taxes>
@{
    ViewBag.Title = "Taxes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Taxes</h2>
@{
    if (User.IsInRole("Admin"))
    {
        <p>
            @Html.ActionLink("New Data", "New", "Taxes", null, new { @class = "btn btn-primary" })
        </p>
    }
}
@if (!Model.Any())
{
    <p>We don't have any data yet.</p>
}
else
{
    <table id="taxess" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Flag</th>
                <th>Country</th>
                <th>Corporate Tax</th>
                <th>Income Tax</th>
                <th>Vat</th>
                @{
                    if (User.IsInRole("Admin"))
                    {
                        <th>Update / Delete</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var taxes in Model)
            {
            <tr>
                <td><a href="@Url.Action("Details", "Taxes", new { CountryName = taxes.CountryName })"><img src="@Url.Content(taxes.Flag)"<a /></td>
                <td>@Html.ActionLink(taxes.CountryName, "Details", "Taxes", new { countryName = taxes.CountryName }, null)</td>
                <td>@taxes.CorporateTax</td>
                <td>@taxes.IncomeTax</td>
                <td>@taxes.Vat</td>
                @{
                    if (User.IsInRole("Admin"))
                    {
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { CountryName = taxes.CountryName }, htmlAttributes: new { @class = "glyphicon glyphicon-pencil" }),
                            @Html.ActionLink("Delete", "Delete", new { CountryName = taxes.CountryName }, htmlAttributes: new { @class = "glyphicon glyphicon-remove" })
                        </td>
                    }
                }
            </tr>
            }
        </tbody>
    </table>
}

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#taxess").DataTable();
        });
    </script>
}